@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@700&family=IBM+Plex+Mono:wght@500;600&display=swap');

:root {
  --blue-color: rgb(0, 102, 255);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --grey-color: rgb(98, 98, 98);
  --medium-grey-color: rgb(127, 127, 127);
  --light-grey-color: rgb(173, 173, 173);
}

header {
  position: relative;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

.ibm-plex-mono-medium {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
  font-style: normal;
}

.gupter-bold {
  font-family: 'Gupter', serif;
  font-weight: 700;
  font-style: normal;
}

.vr {
  background-color: var(--light-grey-color);
}

.blue-bg {
  background-color: var(--blue-color);
}

.full-height-navigation {
  height: 100%;
  position: fixed;
  z-index: 1;
  align-items: flex-start !important;
  align-content: flex-start;
  gap: 1rem;
}

.active {
  text-decoration: underline 1px;
  text-underline-offset: 8px;
}

.text-grey {
  color: var(--grey-color);
}

.text-blue {
  color: var(--blue-color);
}

.tighter-letter-spacing {
  letter-spacing: -2px;
}

.form-control {
  min-height: 75px !important;
  border-radius: 0;
  padding: 1.25rem 1.25rem;
  border: 3px solid var(--medium-grey-color);
}

#bjellLogo {
  font-size: 3rem;
}

@media only screen and (max-width: 992px) {
  ul {
    list-style-type: disc !important;
    list-style-position: inside;
  }

  h1 {
    font-size: 2rem;
  }

  .fs-lg-6 {
    font-size: 1rem !important;
  }

  .text-light-lg {
    color: var(--white-color) !important;
  }

  #bjellLogo {
    font-size: 2.25rem;
  }

  #navbarNav ul {
    color: var(--white-color) !important;
  }
}

@media only screen and (min-width: 993px) {
  header {
    background-color: transparent !important;
  }
}
