
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@700&family=IBM+Plex+Mono:wght@500;600&display=swap");


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Gupter";
}

body {
min-height: 100vh;
background: white;
background-size: cover;
background-position: center;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: white;
  display:flex;
  justify-content: space-between;
  z-index: 100px;
}






:root {
  --blue-color: rgb(0, 102, 255);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --grey-color: rgb(98, 98, 98);
  --medium-grey-color: rgb(127, 127, 127);
  --light-grey-color: rgb(173, 173, 173);
}

header {
  position: relative;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.gupter-bold {
  font-family: "Gupter", serif;
  font-weight: 700;
  font-style: normal;
}


.img-bjell {
flex: content;
margin-left: 200px;
margin-right: 200px;
width: 900px;
}


.box{
border:5px solid;
font-size: 5em;
width: 250px;
height:250px;



}



.btn {
background: black;
border-radius: 50px;

}


.vr {
  background-color: var(--light-grey-color);
}

.blue-bg {
  background-color: var(--blue-color);
}

.full-height-navigation {
  height: 100vh;
  position: absolute;
  align-items: flex-start !important;
  align-content: flex-start;
  gap: 1rem;
}

.active {
  text-decoration: underline 1px;
  text-underline-offset: 8px;
}

#bjellLogo {
  font-size: 3rem;
}

@media only screen and (max-width: 992px) {
  ul {
    list-style-type: disc !important;
    list-style-position: inside;
    color: var(--white-color) !important;
  }

  .text-light-lg {
    color: var(--white-color) !important;
  }

  #bjellLogo {
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 993px) {
  header {
    background-color: transparent !important;
  }
}
